<head>
	<title>students</title>
</head>
<body>
	<h1>Add a New Student</h1>

    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
		<br>
        <label for="field">Field:</label>
        <input type="text" id="field" name="field" required>
		<br>
        <label for="semester">Semester:</label>
        <input type="text" id="semester" name="semester" required>
		<br>
        <label for="created_at">Created at:</label>
        <input type="date" id="created_at" name="created_at" required>
        <button type="submit">Submit</button>
    </form>

	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>field</th>
			<th>semester</th>
			<th>created_at</th>
		</tr>
		{% for student in students %} 
		<tr>
			<td>{{ student["id"]}}</td>
			<td>{{ student["name"]}}</td>
			<td>{{ student["field"]}}</td>
			<td>{{ student["semester"]}}</td>
			<td>{{ student["created_at"]}}</td>
			<td>
				<form method="post" action="{{ url_for('delete_student', student_id=student.id) }}">
					<input class="btn" type="submit" name="delete" value="Delete">
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
